

.cart-page{
    padding: 50px 0 100px 0;
    width: 820px;
    margin: auto;
    &__header{
       display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
    }
    &__title{
        display: flex;
    }
    &__cart-icon{
        font-size: 30px;
        margin-right: 17px;
    }
    &__text{
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        &--title{
            font-size: 32px;
            line-height: 32px;
        }
        &--small_gray{
            font-size: 16px;
            color: #B6B6B6;
            font-weight: normal;
        }
        &--thin{
            font-weight: normal;
        }
        &--orange{
            color: #FE5F1E;
        }
    }
    &__trash-icon{
        margin-right: 10px;
        font-size: 16px;
        color: #B6B6B6;
    }
    &__clear-underscore{
        transition: .4s all ease-in-out;
        height: 2px;
        width: 100%;
        background-color: #B6B6B6;
        position: absolute;
        bottom: 0;
        left: 110%;
    }
    &__clear{
        overflow: hidden;
        position: relative;
        transition: .5s all ease-in-out;
        display: flex;
        align-items: center;
        &:hover{
            cursor: pointer;
            
        }
        &:hover .cart-page__clear-underscore{
            left: 11%;
        }
    }
    &__info-block{
        padding: 20px 10px 0 10px;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__buttons-block{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }
    &__nav-button{
        transition: .3s all ease;
        width: 210px;
        height: 55px;
        border-radius: 30px;
        background-color: #fff;
        border: 1px solid #B6B6B6;
        &--order{
            background-color: #FE5F1E;
            color: white;
            font-size: 16px;
            font-weight: bold;
            &:hover {
                color: black
            }
        }
        &:focus{
            outline: none;
            border: 2px #fe5d1ec9 solid;
        }
        &:hover{
            cursor: pointer;
            border: 1px solid rgb(255, 145, 0);
            background-color: rgba(255, 255, 255, 0.884);
        }
        &:hover .cart-page__text--small_gray{
            color: black;
        }
        
    }
}
.cart-page__cart-list{
    max-height: 450px;
    padding: 20px 0;
    height: auto;
    overflow: auto;
 
}

@media screen and (max-width: 992px){
    .cart-page{
        width: 100%;
    }
}

@media screen and (max-width: 578px){
    .cart-page{
        padding-top: 0;
    }
    .cart-page__text{
        font-size: 20px;
    }
    .cart-page__text--title{
        font-size: 28px;
        padding-top: 0;
    }
    .cart-page__text--small_gray{
        font-size: 16px;
    }
    .cart-page__trash-icon{
        padding-left: 20px;
    }
    .cart-page__header{
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 20px;
        margin-top: 0px;
    }
    .cart-page__clear{
        margin-top: 50px;
        width: 100%;
        justify-content: center;
    }
    .cart-page__text-block{
        padding: 0 15Ypx;
    }
    .cart-page__info-block{
        padding-top: 30px 0 0 0;
    }
    .cart-page__buttons-block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .cart-page__nav-button{
        margin: 15px 10px;
    }
   
}



