*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #FFDF8C;
}
.wrapper{
  margin: auto;
  width: 1200px;
  background-color: rosybrown;
}

@media screen and (max-width: 1200px) {
  .wrapper{
    width: 92%;
  }
}