*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #FFDF8C;
}
.wrapper{
  height: 2000px;
  padding-right: 38px;
  padding-left: 77px;
  margin: auto;
  width: 1200px;
  background-color: rosybrown;
}

@media screen and (max-width: 1200px) {
  .wrapper{
    width: 100%;
  }
}
@media screen and (max-width: 768px){
  .wrapper{
    padding: 0;
  }
}

