@mixin button-font {
    font-family: 'Proxima Nova', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.5px;
}
@mixin sort-font {
    font-family: "Proxima Nova", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.5px;
}
.filter-container{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.filter{
    &__mobile-trigger{
        @include button-font;
        display: none;
        padding: 0 15px;
        width: 228px;
        margin: auto;
        height: 50px;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.699);
        border-radius: 25px;
        color: white;
    }
    &__filter-list{
        @include button-font;
        width: 60%;
        list-style-type: none;
        display: flex;
    }
    &__sort{
        transition: .6s all ease;
        @include sort-font;
        position: relative;
        margin-left: auto;
        background-color: #fff;
        height: inherit;
        width: 32%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &:hover{
            cursor: pointer;
        }
    }
    &__sort-text{
        display: flex;
        align-items: center;
        margin-left: 5px;
    }
    &__sort-type{
        margin-left: 5px;
        color: #FE5F1E;
        border-bottom: #FE5F1E dashed 1px;
        &:hover{
            color: #c03600;
            border-bottom: #c03600 dashed 1px;
        }
    }
}

.filter-list__item{
    transition: .4s all ease;
    padding: 14px 25px 14px 25px;
    background-color: #ececec;
    border-radius: 30px;
    margin: 0px 5px 0px 5px;
    &:hover{
        cursor: pointer;
        filter: brightness(90%);
    }
    &--active{
        color: white;
        background-color: #000; // // // // //
    }
}

.sort{
    &__arrow-disabled{
        transition: 1s all ease;
        transform: rotate(180deg);
    }
    &__arrow-active{
        transition: 1s all ease;
        transform: rotate(0deg);
    }
    &__list{
        transition: .7s all ease;
        opacity: 0;
        width: 132px;
        background-color: #fff;
        position: absolute;
        top: 70px;
        border-radius: 10px;
        list-style-type: none;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.233);
        &--active{
            opacity: 1;
        }
    }
    &__item{
        font-weight: normal;
        padding: 10px 0 10px 15px;
        &--active{
            font-weight: bold;
            color: #FE5F1E;
            background-color:rgba(254, 95, 30, 0.05);
        }
        &:hover{
            font-weight: bold;
            color: #FE5F1E;
            background-color:rgba(254, 95, 30, 0.05);
        }
    }
}



@media screen and (max-width:768px){
    .filter__mobile-trigger{
        display: flex;
    }
    .filter-container{
        transition: ease 1s all;
        transform: scaleY(0);
        flex-direction: column;
        &--active{
            transform: scaleY(1);
            padding-top: 15px;
            height: 300px;
        }
    }
    .filter__filter-list{
        margin: auto;
        width: 190px;
        flex-direction: column;
    }
    .filter-list__item{
        margin: 7px 0 7px 0;
    }
    .filter__sort{
        width: 100%;
        justify-content: center;
        padding: 25px 0 15px 0;
    }
    .sort__list{
        z-index: 15;
        width: inherit;
        top: 50px;
        text-align: center;
        
    }

}