@mixin button-font {
    font-family:'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 137px;
    margin-bottom: 40px;
    border-bottom: 1px rgba(223, 222, 222, 0.616) solid;
    &__burger{
        font-size: 19px;
        display: none;
        position: fixed;
        top: 30px;
        right: 40px;
        background-color: rgba(0, 0, 0, 0.699);
        padding: 9px;
        z-index: 99;
        color: white;
        border-radius: 10px;
    }
    &__welcome{
        overflow: hidden;
        padding: 10px 20px 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 230px;
        font-size: 20px;
        &--nick{
            padding: 0;
            margin: 0;
            color: orangered;
        }
    }
    &__logout{
        transition: .5s all ease;
        margin-top: 10px;
        font-size: 15px;
        color: gray;
        &:hover{
            transform: scale(1.1,1.1);
            text-decoration: underline;
            cursor: pointer;
        }
    }
    &__close{
        display: none;
    }
    &__logo-block{
        display: flex;
        align-items: center;
        width: 40%;
        height: inherit;
      
    }

    &__logo{
        width: 38px;
        height: 38px;
    }
    &__text-block{
        margin-left: 20px;
    }

    &__title{
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }

    &__subtitle{
        font-family: 'Proxima Nova', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
    }

    &__login{
        @include button-font;
        margin-right: 20px;
        transition: ease-in-out .4s all;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        width: 100px;
    height: 50px;
    background-color: #FE5F1E;
        &:hover{
            cursor: pointer;
        background-color: #fff;
        color: #FE5F1E;  
        border: 1px #FE5F1E solid;
        }
    }

    &__buttons-block{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        margin-left: auto;
 
    }

}

.cart{
    transition: ease-in-out .4s all;
    @include button-font;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px 0 15px;
    width: 150px;
    height: 50px;
    background-color: #FE5F1E;
    border-radius: 30px;
    &:hover{
      cursor: pointer;
      background-color: #fff;
      color: #FE5F1E;  
      border: 1px #FE5F1E solid;
    }
    &:hover .cart__line{
        background-color: #FE5F1E;
    }
    &__line{
        margin: 0 15px 0 15px;
        height: 25px;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.418);
    }
    &__price{
        max-width: 45%;

        
    }
    &__count{
        max-width: 40%;
        display: flex;
        justify-content: space-between;
       
    }
    &__icon{
        margin-right: 5px;
    }

}

@media screen and (max-width:1200px){
    .header__buttons-block{
        width: 50%;
        justify-content: flex-end;
    }

}

@media screen and (max-width:768px){
    .header__burger{
        display: block;
    }
    .header__close{
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 25px;
        font-weight: bold;
        font-family: monospace;
        color: white;
        padding: 8px 15px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.699);
    }
    .header__buttons-block{
        transition: .5s all ease-in-out;
        height: 0px;
        opacity: 0;
        overflow: hidden;
        background-image: url('./HeaderAssets/mobile-background.jpg');
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 999;
        &--active{
        
            opacity: 1;
            border-bottom: 2px rgba(0, 0, 0, 0.699) solid;
            height: 200px; // // // // //
        }
    }
    .header__login{
        margin-left: 20px;
        margin-bottom: 10px;
        width: 150px;
        background-color: rgba(0, 0, 0, 0.699);
        &:hover{
            background-color: #fff;
            color: black;
            border: 1px black solid;
        }
    }
    .cart{
        background-color: rgba(0, 0, 0, 0.699);
        &:hover .cart__line{
            background-color: black;
        }
        &:hover{
            background-color: #fff;
            color: black;
            border: 1px black solid;
        }
    }
    .header__logo-block{
        width: 70%;
        justify-content: center;
    }
    .header{
        padding: 0 15px 0 15px;
        justify-content: center;
     
    }
    .header__welcome{
        margin-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.76);
        border-radius: 20px;
        color: white;
        &--nick{
            margin: 0;
            background-color: transparent;
            color: orangered;
        }
    }

}
@media screen and (max-width:578px){
    .header{
        justify-content: flex-start;
    }
}

@media screen and (max-width:360px){
    .header__burger{
        right: 20px;
    }
    .header__welcome{
        width: 170px;
    }
}
