.cart-item{
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 30px 0px;
    border-top: 1px #dfdfdf73 solid;
    &__info-block{
        width: 250px;
        display: flex;
        align-items: center;

    }
    &__info{
        padding-top: 10px;
        padding-left: 10px;
    }

    &__img{
        max-width: 80px;
        max-height: 80px;
    }

    &__counter-block{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__count{
        padding: 0 12px;
    }
    &__counter-icon{
        transition: .15s all ease-in-out;
        font-size: 29px;
        color: #ff8800;
        &:hover{
            color: #ffc400;
            cursor: pointer;
        }
    }
    &__price{
        width: 90px;
        margin-bottom: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__close{
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    &__close-icon{
        transition: .4s all ease-in-out;
        font-size: 30px;
        color: #D0D0D0;
        &:hover{
            color: black;
            cursor: pointer;
        }
    }
}